html {
    height: 100%;
}

body {
    margin: 0;
    background: url("/images/bg-white-2.png") repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
    height: 100%;
}

.logo {
    /*margin-top:20%;*/
}

.block {
    border-radius: 5px;
    background: #ffffff;
}

.connecting-block {
    color: #696969;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}