[Unit]
Description=XPLO.io
Documentation=http://xplo.io
After=network.target

[Service]
Environment=PORT=80
Environment=REDIS_HOST=db.xplo.io
Environment=REDIS_PORT=6379
Environment=LIVE=true
Type=simple
User=root
ExecStart=/root/.nvm/versions/node/v8.9.4/bin/node --nouse-idle-notification --expose-gc /var/www/html/app.js
Restart=on-failure

[Install]
WantedBy=multi-user.target